@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

//colors
$black-color: #000000;
$dark-color: #1C1C1B;
$main-color: #6E774A;
$white-color: #FFFFFF;
$semiwhite-color: #F7F8F3;
$muddy-border-color: #ced6af;
$card-price-bgcolor: #e9f1ed;
$accordion-panel-color: #eaedde;

//font-sizes
$H600: 60px;
$H550: 55px;
$H300: 30px;
$H260: 26px;
$H240: 24px;
$H220: 22px;
$H200: 20px;
$H180: 18px;
$H160: 16px;
$H140: 14px;
$H110: 11px;